/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width:50%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

.section {
	margin-bottom: 20px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 20px 20px 15px;
    background-color: white;
    overflow: hidden;
    display : none;
    margin-bottom:40px;
    border: 3px solid black;
    width: 50%;
}

.panel.show {
	display: block !important;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.editProfile {
	float: center;
	wdith: 50%;
	padding: 10px;
}

.subnav {
	overflow: hidden;
	background-color: gray;
}

.subnav a{
	float: left;
	display: block;
	color: white;
	text-align:center;
	padding:4px 6px;
	text-decoration:none;
}

.subnav a:hover {
	background-color:white;
	color: black;
}
