<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <title>Athens Tickets</title>
    <link href="/css/carousel.css" rel="stylesheet">
    <link href="/css/homepagestyle.css" rel="stylesheet" type="text/css">
    <link href="/css/form-basic.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    
    
<body>

<div class="header">
    <h1>Athens Tickets</h1>
</div>    
    
<div class="topnav sticky">

	<!-- Pages for all users and admins -->
    <a href="/home">Home</a>
    <a href="/movies">Movies</a>
    <a href="#">Showtimes</a>
    
    <!-- Pages for Admin -->
    <a sec:authorize="hasAuthority('ADMIN')" href="/manageMovies">Manage Movies</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="#">Manage Showtimes</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="#">Manage Halls</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="#">Manage Users</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="/addPromotion" style="background-color: red">Promotions</a>
        
    <!-- Page for Registered User -->
    <a sec:authorize="hasAuthority('USER')" href="/userProfile">Profile</a>
    
    <div class="search-container">
        <form action="/action_page.php">
            <input type="text" id="searchBar" placeholder="Search for movie">
            <button type="submit">Submit</button>
        </form>
    </div>
    
    <div th:insert="fragments/general.html :: loginform"></div>
</div>


<div class="alert alert-success alert-dismissible mb-0" id="alert" role="success" th:if="${added} == 'true'">
	Promotion has been added successfully.
</div>
<div class="alert alert-danger alert-dismissible mb-0" id="alert" role="danger" th:if="${duplicate} == 'true'">
	A promotion already exists with that code.
</div>
<div class="alert alert-danger alert-dismissible mb-0" id="alert" role="danger" th:if="${wrongCode} == 'true'">
	The promo code entered was not valid.
</div>
<div class="alert alert-success alert-dismissible mb-0" id="alert" role="success" th:if="${deleted} == 'true'">
	Promotion has been successfully deleted.
</div>

<div class="main-content">
	
	<div class="row">
	<div class="col">
	<form id="userInfo" class="form-basic needs-validation"  th:action="@{/addPromotion}" th:object="${promotion}" method="post">	
		
		<div class="form-title-row">
			<h1>Add Promotion</h1>	
		</div>
		
		<div class="form-row">
			<label>
				<span>Promo Code (Mandatory)</span>
			</label>	    
		    
		    <input type="text"  class="form-control" id="promoCode" placeholder="" value="" th:field="*{promoCode}" required>
			<div class="invalid-feedback">
		    	Valid promo code is required.
		    </div>	
		</div>
		
		<div class="form-row">
			<label>
				<span>Percent Off (Mandatory)</span>
			</label>
			
		    <input type="number"  class="form-control" id="percentOff" placeholder="" value="" th:field="*{percentOff}" required>
			<div class="invalid-feedback">
		    	Valid number is required.
		    </div>
		</div>
		
		<div class="form-row">
			<label>
				<span>Expiration Date (Mandatory)</span>
			</label>
			
		    <input type="date"  class="form-control" id="expDate" placeholder="" value="" th:field="*{expDate}" required>
			<div class="invalid-feedback">
		    	Valid number is required.
		    </div>
		</div>
		
		<div class="form-row">
			<button type="submit">Add promotion</button>
		</div>
	</form>
	</div>
	
	<div class="col">
		<form id="userInfo" class="form-basic needs-validation"  th:action="@{/deletePromotion}" method="post">	
		
		<div class="form-title-row">
			<h1>Delete Promotion</h1>	
		</div>
		
		<div class="form-row">
			<label>
				<span>Promo Code</span>
			</label>	    
		    
		    <input type="text"  class="form-control" id="deletePromoCode" name="deletePromoCode" placeholder="" value="" required>
			<div class="invalid-feedback">
		    	Valid promo code is required.
		    </div>	
		</div>
		
		<div class="form-row">
			<button type="submit">Delete Promotion</button>
		</div>
	</form>
	</div>
	</div>
</div>


   

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
<script>
  (function() {
    'use strict';

    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');

      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>


</body>
    
</html>



