<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Athens Tickets</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="/css/homepagestyle.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/../static/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}"/>

	<!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" th:action="@{${'/changePassword/' + email}}" method="post">
      <img class="mb-4" th:src="@{/images/movie_time.png}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please enter a new password</h1>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required autofocus>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
      <p class="mt-5 mb-3 text-muted">&copy; Athens Tickets</p>
    </form>
  </body>
</html>