<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <title>Athens Tickets</title>
    <link href="css/homepagestyle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="text-center">
    
<div class="header">
    <h1>Athens Tickets</h1>
</div>    
    
<div class="topnav sticky">

	<!-- Pages for all users and admins -->
    <a href="/home" style="background-color: red">Home</a>
    <a href="/movies">Movies</a>
    <a href="#">Showtimes</a>
    
    <!-- Pages for Admin -->
    <a sec:authorize="hasAuthority('ADMIN')" href="#">Manage Movies</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="#">Manage Showtimes</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="#">Manage Halls</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="#">Manage Users</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="#" >View Reports</a>
        
    <!-- Page for Registered User -->
    <a sec:authorize="hasAuthority('USER')" href="#">Profile</a>
    
    <div class="search-container">
        <form action="/action_page.php">
            <input type="text" id="searchBar" placeholder="Search for movie">
            <button type="submit">Submit</button>
        </form>
    </div>
    
    <div th:insert="fragments/general.html :: loginform"></div>
</div>

<div th:if="${#httpServletRequest.remoteUser == null}">
	<div class="alert alert-success" role="alert" th:if="${param.logout}">You have been logged out.</div>
</div>

<div th:if="${#httpServletRequest.remoteUser != null}">
    <p th:text="${#httpServletRequest.remoteUser}">
      user_email
    </p>
</div>   
    
</body>
    
</html>



