<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <title>Athens Tickets</title>
    <link href="/css/carousel.css" rel="stylesheet">
    <link href="/css/homepagestyle.css" rel="stylesheet" type="text/css">
    <link href="/css/form-basic.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    
    
<body>

<div class="header">
    <h1>Athens Tickets</h1>
</div>    
    
<div class="topnav sticky">

	<!-- Pages for all users and admins -->
    <a href="/home">Home</a>
    <a href="/movies">Movies</a>
    <a href="#">Showtimes</a>
    
    <!-- Pages for Admin -->
    <a sec:authorize="hasAuthority('ADMIN')" href="/manageMovies" style="background-color: red">Manage Movies</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="#">Manage Showtimes</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="#">Manage Halls</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="/manageUsers">Manage Users</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="/addPromotion">Promotions</a>    
    <!-- Page for Registered User -->
    <a sec:authorize="hasAuthority('USER')" href="/userProfile">Profile</a>
    
    <div class="search-container">
        <form action="/action_page.php">
            <input type="text" id="searchBar" placeholder="Search for movie">
            <button type="submit">Submit</button>
        </form>
    </div>
    
    <div th:insert="fragments/general.html :: loginform"></div>
</div>

<div class="subnav">
	<a sec:authorize="hasAuthority('ADMIN')" href="/manageMovies" style="background-color: red;">Update Movies</a>
	<a sec:authorize="hasAuthority('ADMIN')" href="/editMovie">Edit Movie</a>
</div>


<div class="alert alert-success alert-dismissible mb-0" id="alert" role="success" th:if="${added} == 'true'">
	Movie has been added successfully.
</div>


<div class="main-content">
	
	<form id="userInfo" class="form-basic needs-validation" novalidate action="#" th:action="@{/addMovie}" th:object="${newMovie}" method="post" enctype="multipart/form-data">
	
		
		<div class="form-title-row">
			<h1>Add Movie</h1>	
		</div>
		
		<div class="form-row">
			<label>
				<span>Movie Title (Mandatory)</span>
			</label>	    
		    
		    <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="" value="" required>
			<div class="invalid-feedback">
		    	Valid movie title is required.
		    </div>	
		</div>
		
		<div class="form-row">
			<label>
				<span>Length in mins (Mandatory)</span>
			</label>
			
		    <input type="number" th:field="*{length}" class="form-control" id="length" placeholder="" value="" required>
			<div class="invalid-feedback">
		    	Valid movie length is required.
		    </div>
		</div>
		
		<div class="form-row">
			<label>
				<span>Director(s)</span>
			</label>
			
		    <input type="text" th:field="*{director}" class="form-control" id="director" placeholder="" value="">
		</div>
		
		<div class="form-row">
			<label>
				<span>Cast</span>
			</label>
			
		    <input type="text" th:field="*{cast}" class="form-control" id="cast" placeholder="" value="">
		</div>
		
		<div class="form-row">
			<label>
				<span>Category</span>
			</label>
			
		    <input type="text" th:field="*{category}" class="form-control" id="category" placeholder="" value="">
		</div>
		
		<div class="form-row">
			<label>
				<span>Producer(s)</span>
			</label>
			
		    <input type="text" th:field="*{producer}" class="form-control" id="producer" placeholder="" value="">
		</div>
		
		<div class="form-row">
			<label>
				<span>Synopsis</span>
			</label>
			
		    <input type="text" th:field="*{synopsis}" class="form-control" id="synopsis" placeholder="" value="">
		</div>
		
		<div class="form-row">
			<label>
				<span>Rating</span>
					<select id="rating" th:field="*{rating}">
  						<option th:value="G">G - General Audiences</option>
  						<option th:value="PG">PG – Parental Guidance Suggested</option>
  						<option th:value="PG-13">PG-13 – Parents Strongly Cautioned</option>
  						<option th:value="R">R – Restricted</option>
  						<option th:value="NC-17">NC-17 – Adults Only</option>
					</select>
			</label>
		</div>
		
		<div class="form-row">
			<label>
				<span>Upload a poster</span>
				<input type="file" name="poster" id="poster">
			</label>
		</div>
		
		<div class="form-row">
			<label>
				<span>Trailer (input youtube URL)</span>
			</label>
			
		    <input type="text" th:field="*{video}" class="form-control" id="video" placeholder="" value="">
		</div>
		
		<div class="custom-control custom-checkbox">
		    <input type="checkbox" th:field="*{nowPlaying}" class="custom-control-input" id="nowPlaying">
		    <label class="custom-control-label" for="nowPlaying">Now Playing (unchecking means the movie is coming soon)</label>
		</div>
		
		<div class="form-row">
			<button type="submit">Submit Movie</button>
		</div>
	</form>

</div>

   

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
<script>
  (function() {
    'use strict';

    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');

      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>
    
</html>



