<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Browse Movies</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="/css/homepagestyle.css" rel="stylesheet" type="text/css">
	<link href="/css/movieDetails.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/../static/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}"/>

</head>
<body>


<div class="header">
    <h1>Athens Tickets</h1>
</div>    
    
<div class="topnav sticky">
    
    <!-- Pages for all users and admins -->
    <a href="/home">Home</a>
    <a href="/movies" style="background-color: red">Movies</a>
    <a href="#">Showtimes</a>
    
    <!-- Pages for Admin -->
    <a sec:authorize="hasAuthority('ADMIN')" href="/manageMovies">Manage Movies</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="#">Manage Showtimes</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="#">Manage Halls</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="/manageUsers">Manage Users</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="/addPromotion">Promotions</a>  
        
    <!-- Page for Registered User -->
    <a sec:authorize="hasAuthority('USER')" href="/userProfile">Profile</a>
    
    <div class="search-container">
        <form action="/action_page.php">
            <input type="text" id="searchBar" placeholder="Search for movie">
            <button type="submit">Submit</button>
        </form>
    </div>
    
    <div th:insert="fragments/general.html :: loginform"></div>
</div>

<div class="main-content container">
<div class="row">
<div class="col-16"> 
	<div th:each="movie : ${movies}">
		<div class="detail-container">
			<div class="column">
				<img th:src="@{${'/images/' + movie.picture}}" width=300>
			</div>		
			<div class="column">
				<h3 th:text="${movie.title}">Movie Title</h3>
				<p><span th:text="${movie.rating}"></span> | <span th:text="${movie.length}"></span> min | <span th:text="${movie.category}"></span></p> 
       			<p><span th:text="${movie.synopsis}"></span></p>
       			<ul>
        			<li>Directors: <span th:text="${movie.director}"></span></li>
        			<li>Producers: <span th:text="${movie.producer}"></span></li>
        			<li>Stars: <span th:text="${movie.cast}"></span></li>
        			<li><a class="btn btn-sm btn-outline-secondary" sec:authorize="hasAuthority('ADMIN')"  th:href="@{'/editMovieDetails/' + ${movie.movieId}}" role="button">Edit Movie</a></li>
       			  	<li><a class="btn btn-sm btn-outline-danger" sec:authorize="hasAuthority('ADMIN')"  th:href="@{'/deleteMovieDetails/' + ${movie.movieId}}" role="button">Delete Movie</a></li>
       			</ul>
			</div>
			<iframe  th:if="${movie.video}" width="560" height="315" th:src="@{${movie.video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
</div>
<div class="col text-center">
	<br><br>
	<h2>Showtimes</h2>
	<label>Select a date</label>
	<input type="date" name="date" id="date" onchange="dateSelect(event);" onkeypress="return false"/>
	<br><br>
	<a class="btn btn-primary my-2" th:if="showtimes" th:each="showtime : ${showtimes}" th:href="@{${'/selectTickets/' + movies.movieId + '/' + showtime.showtimeId}}" th:text="${showtime.dateTime}"></a>
</div>
</div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>


<script th:inline="javascript">

function dateSelect(event){
	var date = (event.target.value);
	var movie_id = /*[[${movies.movieId}]]*/ 'movieId';
	var url = "/movieDetails/" + movie_id + "/" + date;
	window.location.href = url;
}

</script>
</body>


</html>



