<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Browse Movies</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="/css/homepagestyle.css" rel="stylesheet" type="text/css">
	<link href="/css/userProfile.css" rel="stylesheet" type="text/css">
	<link href="/css/form-basic.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/../static/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}"/>
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	
</head>
<body>


<div class="header">
    <h1>Athens Tickets</h1>
</div>    
    
<div class="topnav sticky">

	<!-- Pages for all users and admins -->
    <a href="/home">Home</a>
    <a href="/movies">Movies</a>
    
    <!-- Pages for Admin -->
    <a sec:authorize="hasAuthority('ADMIN')" href="/manageMovies">Manage Movies</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="/manageShowtimes">Manage Showtimes</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="/manageHalls">Manage Halls</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="/manageUsers">Manage Users</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="/addPromotion">Promotions</a> 
    <a sec:authorize="hasAuthority('ADMIN')" href="/managePricing">Pricing</a>  
        
    <!-- Page for Registered User -->
    <a sec:authorize="hasAuthority('USER')" href="/userProfile" style="background-color: red">Profile</a>
    
    <div th:insert="fragments/general.html :: loginform"></div>
</div>

<div class="subnav">
	<a href="/userProfile">Edit Profile</a>
	<a href="/recentPurchases" style="background-color: #333">Recent Purchases</a>
</div>

<div th:if="${#httpServletRequest.remoteUser == null}">
	<div class="alert alert-success alert-dismissible mb-0" role="alert" th:if="${param.logout}">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		You have been logged out.
	</div>
</div>


<div class="editProfile">
	<div class="section" th:each="recentPurchase : ${recentPurchases}">
		<button class="accordion"><h2 th:text="${recentPurchase.title}">Movie title</h2></button>
			<div class="panel">
			
				
				<article>
					<p><span th:text="${recentPurchase.title}">Movie Title</span></p>
					<p><span th:text="${recentPurchase.datetime}">Showtime + Date</span></p>
					
	            	<hr class="mb-4">
					
					<p><span>Tickets purchased</span></p>
					<p th:if="${recentPurchase.adult}" th:text="'Adult: ' + ${recentPurchase.adult}">Adult</p>
					<p th:if="${recentPurchase.child}" th:text="'Child: ' + ${recentPurchase.child}">Child</p>
					<p th:if="${recentPurchase.senior}" th:text="'Senior: ' + ${recentPurchase.senior}">Senior</p>
					<p><span th:text="'Total: $' + ${recentPurchase.total}">Total Price (excludes promotions)</span></p>
					
		            <hr class="mb-4">
					
					<p><span>Billing Address</span></p>
					<p th:text="${recentPurchase.address}"></p>
					<p th:if="${recentPurchaseaddress2}" th:text="${recentPurchaseaddress2}"></p>
					<p th:text="${recentPurchase.country} + ' | ' + ${recentPurchase.state} + ' | ' + ${recentPurchase.zip}"></p>
					
					<hr class="mb-4">
					
					<p><span>Credit Card Used</span></p>
					<p th:text="${recentPurchase.creditCard}"></p>
					
				</article>
	
			</div>
	</div>
	
	
</div>
<script>

var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
    }
}

</script>

</body>


</html>



