<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
	<title>Select Seats</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="/css/homepagestyle.css" rel="stylesheet" type="text/css">
	<link href="/css/seatstyle.css" rel="stylesheet" type="text/css">
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>	
	
	
</head>
<body onload="onLoaderFunc()">

<div class="header">
    <h1>Athens Tickets</h1>
</div>    
    
<div class="topnav sticky">

	<!-- Pages for all users and admins -->
    <a href="/home">Home</a>
    <a href="/movies">Movies</a>
    
    <!-- Pages for Admin -->
    <a sec:authorize="hasAuthority('ADMIN')" href="/manageMovies">Manage Movies</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="/manageShowtimes">Manage Showtimes</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="/manageHalls">Manage Halls</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="/manageUsers">Manage Users</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="/addPromotion">Promotions</a> 
    <a sec:authorize="hasAuthority('ADMIN')" href="/managePricing">Pricing</a>  
        
    <!-- Page for Registered User -->
    <a sec:authorize="hasAuthority('USER')" href="/userProfile">Profile</a>
    
    <div th:insert="fragments/general.html :: loginform"></div>
</div>

<h2>Movie Seat Selection</h2>
<div class="container1">

        <div class="w3ls-reg">
        
            <!-- input fields -->
            <div class="inputForm">
                <h3>Select your seats below</h3>
                <div class="mr_agilemain">
                    <div class="agileits-right">
                        <label th:text="'Number of seats: ' + ${ticketTypes.total}"> Number of Seats
                            <span>*</span>
                        </label>
                        <input type="number" id="Numseats" required min="1" th:value="${ticketTypes.total}" style="display: none;">
                    </div>
                </div>
            </div>
            
            <form class="form-basic" th:action="@{'/checkout/' + ${movie.movieId} + '/' + ${showtime.showtimeId}}" th:object="${selectedSeats}" method="post" id="selectSeatsForm">
            
            <!-- //input fields -->
            <!-- seat availabilty list -->
            <ul class="seat_w3ls">
                <li class="smallBox greenBox">Selected Seat</li>

                <li class="smallBox emptyBox">Empty Seat</li>
            </ul>
            <!-- seat availabilty list -->
            <!-- seat layout -->
            <div class="seatStructure txt-center" style="overflow-x:auto;">
                <table id="seatsBlock">
                    <p id="notification"></p>
                    <tr>
                        <td></td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td></td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>
                            <input th:if="${A1.taken == false}" type="checkbox" class="seats" value="A1">
                        </td>
                        <td>
                            <input th:if="${A2.taken == false}" type="checkbox" class="seats" value="A2">
                        </td>
                        <td>
                            <input th:if="${A3.taken == false}" type="checkbox" class="seats" value="A3">
                        </td>
                        <td>
                            <input th:if="${A4.taken == false}" type="checkbox" class="seats" value="A4">
                        </td>
                        <td>
                            <input th:if="${A5.taken == false}" type="checkbox" class="seats" value="A5">
                        </td>
                        <td class="seatGap"></td>
                        <td>
                            <input th:if="${A6.taken == false}" type="checkbox" class="seats" value="A6">
                        </td>
                        <td>
                            <input th:if="${A7.taken == false}" type="checkbox" class="seats" value="A7">
                        </td>
                        <td>
                            <input th:if="${A8.taken == false}" type="checkbox" class="seats" value="A8">
                        </td>
                        <td>
                            <input th:if="${A9.taken == false}" type="checkbox" class="seats" value="A9">
                        </td>
                        <td>
                            <input th:if="${A10.taken == false}" type="checkbox" class="seats" value="A10">
                        </td>
                        <td>
                            <input th:if="${A11.taken == false}" type="checkbox" class="seats" value="A11">
                        </td>
                        <td>
                            <input th:if="${A12.taken == false}" type="checkbox" class="seats" value="A12">
                        </td>
                    </tr>

                    <tr>
                        <td>B</td>
                        <td>
                        	<input th:if="${B1.taken == false}" type="checkbox" class="seats" value="B1">
                        </td>
                        <td>
                            <input th:if="${B2.taken == false}" type="checkbox" class="seats" value="B2">
                        </td>
                        <td>
                            <input th:if="${B3.taken == false}" type="checkbox" class="seats" value="B3">
                        </td>
                        <td>
                            <input th:if="${B4.taken == false}" type="checkbox" class="seats" value="B4">
                        </td>
                        <td>
                            <input th:if="${B5.taken == false}" type="checkbox" class="seats" value="B5">
                        </td>
                        <td></td>
                        <td>
                            <input th:if="${B6.taken == false}" type="checkbox" class="seats" value="B6">
                        </td>
                        <td>
                            <input th:if="${B7.taken == false}" type="checkbox" class="seats" value="B7">
                        </td>
                        <td>
                            <input th:if="${B8.taken == false}" type="checkbox" class="seats" value="B8">
                        </td>
                        <td>
                            <input th:if="${B9.taken == false}" type="checkbox" class="seats" value="B9">
                        </td>
                        <td>
                            <input th:if="${B10.taken == false}" type="checkbox" class="seats" value="B10">
                        </td>
                        <td>
                            <input th:if="${B11.taken == false}" type="checkbox" class="seats" value="B11">
                        </td>
                        <td>
                            <input th:if="${B12.taken == false}" type="checkbox" class="seats" value="B12">
                        </td>
                    </tr>

                    <tr>
                        <td>C</td>
                        <td>
                            <input th:if="${C1.taken == false}" type="checkbox" class="seats" value="C1">
                        </td>
                        <td>
                            <input th:if="${C2.taken == false}" type="checkbox" class="seats" value="C2">
                        </td>
                        <td>
                            <input th:if="${C3.taken == false}" type="checkbox" class="seats" value="C3">
                        </td>
                        <td>
                            <input th:if="${C4.taken == false}" type="checkbox" class="seats" value="C4">
                        </td>
                        <td>
                            <input th:if="${C5.taken == false}" type="checkbox" class="seats" value="C5">
                        </td>
                        <td></td>
                        <td>
                            <input th:if="${C6.taken == false}" type="checkbox" class="seats" value="C6">
                        </td>
                        <td>
                            <input th:if="${C7.taken == false}" type="checkbox" class="seats" value="C7">
                        </td>
                        <td>
                            <input th:if="${C8.taken == false}" type="checkbox" class="seats" value="C8">
                        </td>
                        <td>
                            <input th:if="${C9.taken == false}" type="checkbox" class="seats" value="C9">
                        </td>
                        <td>
                            <input th:if="${C10.taken == false}" type="checkbox" class="seats" value="C10">
                        </td>
                        <td>
                            <input th:if="${C11.taken == false}" type="checkbox" class="seats" value="C11">
                        </td>
                        <td>
                            <input th:if="${C12.taken == false}" type="checkbox" class="seats" value="C12">
                        </td>
                    </tr>

                    <tr>
                        <td>D</td>
                        <td>
                            <input th:if="${D1.taken == false}" type="checkbox" class="seats" value="D1">
                        </td>
                        <td>
                            <input th:if="${D2.taken == false}" type="checkbox" class="seats" value="D2">
                        </td>
                        <td>
                            <input th:if="${D3.taken == false}" type="checkbox" class="seats" value="D3">
                        </td>
                        <td>
                            <input th:if="${D4.taken == false}" type="checkbox" class="seats" value="D4">
                        </td>
                        <td>
                            <input th:if="${D5.taken == false}" type="checkbox" class="seats" value="D5">
                        </td>
                        <td></td>
                        <td>
                            <input th:if="${D6.taken == false}" type="checkbox" class="seats" value="D6">
                        </td>
                        <td>
                            <input th:if="${D7.taken == false}" type="checkbox" class="seats" value="D7">
                        </td>
                        <td>
                            <input th:if="${D8.taken == false}" type="checkbox" class="seats" value="D8">
                        </td>
                        <td>
                            <input th:if="${D9.taken == false}" type="checkbox" class="seats" value="D9">
                        </td>
                        <td>
                            <input th:if="${D10.taken == false}" type="checkbox" class="seats" value="D10">
                        </td>
                        <td>
                            <input th:if="${D11.taken == false}" type="checkbox" class="seats" value="D11">
                        </td>
                        <td>
                            <input th:if="${D12.taken == false}" type="checkbox" class="seats" value="D12">
                        </td>
                    </tr>

                    <tr>
                        <td>E</td>
                        <td>
                            <input th:if="${E1.taken == false}" type="checkbox" class="seats" value="E1">
                        </td>
                        <td>
                            <input th:if="${E2.taken == false}" type="checkbox" class="seats" value="E2">
                        </td>
                        <td>
                            <input th:if="${E3.taken == false}" type="checkbox" class="seats" value="E3">
                        </td>
                        <td>
                            <input th:if="${E4.taken == false}" type="checkbox" class="seats" value="E4">
                        </td>
                        <td>
                            <input th:if="${E5.taken == false}" type="checkbox" class="seats" value="E5">
                        </td>
                        <td></td>
                        <td>
                            <input th:if="${E6.taken == false}" type="checkbox" class="seats" value="E6">
                        </td>
                        <td>
                            <input th:if="${E7.taken == false}" type="checkbox" class="seats" value="E7">
                        </td>
                        <td>
                            <input th:if="${E8.taken == false}" type="checkbox" class="seats" value="E8">
                        </td>
                        <td>
                            <input th:if="${E9.taken == false}" type="checkbox" class="seats" value="E9">
                        </td>
                        <td>
                            <input th:if="${E10.taken == false}" type="checkbox" class="seats" value="E10">
                        </td>
                        <td>
                            <input th:if="${E11.taken == false}" type="checkbox" class="seats" value="E11">
                        </td>
                        <td>
                            <input th:if="${E12.taken == false}" type="checkbox" class="seats" value="E12">
                        </td>
                    </tr>

                    <tr class="seatVGap"></tr>

                    <tr>
                        <td>F</td>
                        <td>
                            <input th:if="${F1.taken == false}" type="checkbox" class="seats" value="F1">
                        </td>
                        <td>
                            <input th:if="${F2.taken == false}" type="checkbox" class="seats" value="F2">
                        </td>
                        <td>
                            <input th:if="${F3.taken == false}" type="checkbox" class="seats" value="F3">
                        </td>
                        <td>
                            <input th:if="${F4.taken == false}" type="checkbox" class="seats" value="F4">
                        </td>
                        <td>
                            <input th:if="${F5.taken == false}" type="checkbox" class="seats" value="F5">
                        </td>
                        <td></td>
                        <td>
                            <input th:if="${F6.taken == false}" type="checkbox" class="seats" value="F6">
                        </td>
                        <td>
                            <input th:if="${F7.taken == false}" type="checkbox" class="seats" value="F7">
                        </td>
                        <td>
                            <input th:if="${F8.taken == false}" type="checkbox" class="seats" value="F8">
                        </td>
                        <td>
                            <input th:if="${F9.taken == false}" type="checkbox" class="seats" value="F9">
                        </td>
                        <td>
                            <input th:if="${F10.taken == false}" type="checkbox" class="seats" value="F10">
                        </td>
                        <td>
                            <input th:if="${F11.taken == false}" type="checkbox" class="seats" value="F11">
                        </td>
                        <td>
                            <input th:if="${F12.taken == false}" type="checkbox" class="seats" value="F12">
                        </td>
                    </tr>

                    <tr>
                        <td>G</td>
                        <td>
                            <input th:if="${G1.taken == false}" type="checkbox" class="seats" value="G1">
                        </td>
                        <td>
                            <input th:if="${G2.taken == false}" type="checkbox" class="seats" value="G2">
                        </td>
                        <td>
                            <input th:if="${G3.taken == false}" type="checkbox" class="seats" value="G3">
                        </td>
                        <td>
                            <input th:if="${G4.taken == false}" type="checkbox" class="seats" value="G4">
                        </td>
                        <td>
                            <input th:if="${G5.taken == false}" type="checkbox" class="seats" value="G5">
                        </td>
                        <td></td>
                        <td>
                            <input th:if="${G6.taken == false}" type="checkbox" class="seats" value="G6">
                        </td>
                        <td>
                            <input th:if="${G7.taken == false}" type="checkbox" class="seats" value="G7">
                        </td>
                        <td>
                            <input th:if="${G8.taken == false}" type="checkbox" class="seats" value="G8">
                        </td>
                        <td>
                            <input th:if="${G9.taken == false}" type="checkbox" class="seats" value="G9">
                        </td>
                        <td>
                            <input th:if="${G10.taken == false}" type="checkbox" class="seats" value="G10">
                        </td>
                        <td>
                            <input th:if="${G11.taken == false}" type="checkbox" class="seats" value="G11">
                        </td>
                        <td>
                            <input th:if="${G12.taken == false}" type="checkbox" class="seats" value="G12">
                        </td>
                    </tr>

                    <tr>
                        <td>H</td>
                        <td>
                            <input th:if="${H1.taken == false}" type="checkbox" class="seats" value="H1">
                        </td>
                        <td>
                            <input th:if="${H2.taken == false}" type="checkbox" class="seats" value="H2">
                        </td>
                        <td>
                            <input th:if="${H3.taken == false}" type="checkbox" class="seats" value="H3">
                        </td>
                        <td>
                            <input th:if="${H4.taken == false}" type="checkbox" class="seats" value="H4">
                        </td>
                        <td>
                            <input th:if="${H5.taken == false}" type="checkbox" class="seats" value="H5">
                        </td>
                        <td></td>
                        <td>
                            <input th:if="${H6.taken == false}" type="checkbox" class="seats" value="H6">
                        </td>
                        <td>
                            <input th:if="${H7.taken == false}" type="checkbox" class="seats" value="H7">
                        </td>
                        <td>
                            <input th:if="${H8.taken == false}" type="checkbox" class="seats" value="H8">
                        </td>
                        <td>
                            <input th:if="${H9.taken == false}" type="checkbox" class="seats" value="H9">
                        </td>
                        <td>
                            <input th:if="${H10.taken == false}" type="checkbox" class="seats" value="H10">
                        </td>
                        <td>
                            <input th:if="${H11.taken == false}" type="checkbox" class="seats" value="H11">
                        </td>
                        <td>
                            <input th:if="${H12.taken == false}" type="checkbox" class="seats" value="H12">
                        </td>
                    </tr>

                    <tr>
                        <td>I</td>
                        <td>
                            <input th:if="${I1.taken == false}" type="checkbox" class="seats" value="I1">
                        </td>
                        <td>
                            <input th:if="${I2.taken == false}" type="checkbox" class="seats" value="I2">
                        </td>
                        <td>
                            <input th:if="${I3.taken == false}" type="checkbox" class="seats" value="I3">
                        </td>
                        <td>
                            <input th:if="${I4.taken == false}" type="checkbox" class="seats" value="I4">
                        </td>
                        <td>
                            <input th:if="${I5.taken == false}" type="checkbox" class="seats" value="I5">
                        </td>
                        <td></td>
                        <td>
                            <input th:if="${I6.taken == false}" type="checkbox" class="seats" value="I6">
                        </td>
                        <td>
                            <input th:if="${I7.taken == false}" type="checkbox" class="seats" value="I7">
                        </td>
                        <td>
                            <input th:if="${I8.taken == false}" type="checkbox" class="seats" value="I8">
                        </td>
                        <td>
                            <input th:if="${I9.taken == false}" type="checkbox" class="seats" value="I9">
                        </td>
                        <td>
                            <input th:if="${I10.taken == false}" type="checkbox" class="seats" value="I10">
                        </td>
                        <td>
                            <input th:if="${I11.taken == false}" type="checkbox" class="seats" value="I11">
                        </td>
                        <td>
                            <input th:if="${I12.taken == false}" type="checkbox" class="seats" value="I12">
                        </td>
                    </tr>

                    <tr>
                        <td>J</td>
                        <td>
                            <input th:if="${J1.taken == false}" type="checkbox" class="seats" value="J1">
                        </td>
                        <td>
                            <input th:if="${J2.taken == false}" type="checkbox" class="seats" value="J2">
                        </td>
                        <td>
                            <input th:if="${J3.taken == false}" type="checkbox" class="seats" value="J3">
                        </td>
                        <td>
                            <input th:if="${J4.taken == false}" type="checkbox" class="seats" value="J4">
                        </td>
                        <td>
                            <input th:if="${J5.taken == false}" type="checkbox" class="seats" value="J5">
                        </td>
                        <td></td>
                        <td>
                            <input th:if="${J6.taken == false}" type="checkbox" class="seats" value="J6">
                        </td>
                        <td>
                            <input th:if="${J7.taken == false}" type="checkbox" class="seats" value="J7">
                        </td>
                        <td>
                            <input th:if="${J8.taken == false}" type="checkbox" class="seats" value="J8">
                        </td>
                        <td>
                            <input th:if="${J9.taken == false}" type="checkbox" class="seats" value="J9">
                        </td>
                        <td>
                            <input th:if="${J10.taken == false}" type="checkbox" class="seats" value="J10">
                        </td>
                        <td>
                            <input th:if="${J11.taken == false}" type="checkbox" class="seats" value="J11">
                        </td>
                        <td>
                            <input th:if="${J12.taken == false}" type="checkbox" class="seats" value="J12">
                        </td>
                    </tr>
                </table>

                <div class="screen">
                    <h3 class="wthree">Screen this way</h3>
                </div>
                <button onclick="updateTextArea()">Confirm Selection</button>
            </div>
            <!-- //seat layout -->
            
        
        </form>    
        </div>
    </div>


<div class="copy-wthree">
        <p>© Athens Tickets
        </p>
</div>

<!-- script for seat selection -->
<script th:inline="javascript">
	window.onload = takeData();

	function onLoaderFunc() {
		$(".seatStructure *").prop("disabled", true);
        $(".displayerBoxes *").prop("disabled", true);
	}
	
	function takeData() {
	    $(".inputForm *").prop("disabled", true);
	    $(".seatStructure *").prop("disabled", false);
	    document.getElementById("notification").innerHTML =
	        "<b style='margin-bottom:0px;background:#ff9800;letter-spacing:1px;'>Please Select your Seats NOW!</b>";

    }
	
	function updateTextArea() {

        if ($("input:checked").length == ($("#Numseats").val())) {
            $(".seatStructure *").prop("disabled", true);

            var allNameVals = [];
            var allNumberVals = [];
            var allSeatsVals = [];

            //Storing in Array
            allNameVals.push($("#Username").val());
            allNumberVals.push($("#Numseats").val());
            $('#seatsBlock :checked').each(function () {
                allSeatsVals.push($(this).val());
            });
            
            //Displaying 
            $('#nameDisplay').val(allNameVals);
            $('#NumberDisplay').val(allNumberVals);
            $('#selectedSeats').val(allSeatsVals.toString());
            
            var movieId = /*[[${movie.movieId}]]*/ 'movieId';
            var showtimeId = /*[[${showtime.showtimeId}]]*/ 'showtimeId';
            var adult = /*[[${ticketTypes.adult}]]*/ 'adult';
            var child = /*[[${ticketTypes.child}]]*/ 'child';
            var senior = /*[[${ticketTypes.senior}]]*/ 'senior';
            var directTo = "/checkout/" + movieId + "/" + showtimeId + "/" + adult + "/" + child + "/" + senior + "/";
            
            var i;
            for (i = 0; i < allSeatsVals.length; i++) {
            	if (i > 0) {
            		directTo +="-";
            	}
            	
            	directTo += allSeatsVals[i];
            }
            
            console.log(directTo);
            window.location.href=directTo;
            //document.getElementById("selectSeatsForm").submit();
        } else {
            alert("Please select " + ($("#Numseats").val()) + " seats")
        }
    }


    function myFunction() {
        alert($("input:checked").length);
    }
    
    $(":checkbox").click(function () {
        if ($("input:checked").length == ($("#Numseats").val())) {
            $(":checkbox").prop('disabled', true);
            $(':checked').prop('disabled', false);
        } else {
            $(":checkbox").prop('disabled', false);
        }
    });
</script>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>



</body>


</html>



