<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

</head>

<body th:fragment="topNav">

<div class="header">
    <h1>Athen's Tickets</h1>
</div>    
    
<div class="topnav">
    <a href="/home" style="background-color: red">Home</a>
    <a href="#">Movies</a>
    <a href="#">Showtimes</a>
    <div class="search-container">
        <form action="/action_page.php">
            <input type="text" placeholder="Search for movie">
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="login_form">
            
        <button onclick="document.getElementById('loginform').style.display='block'" style="width:auto;" class="loginbutton">Sign In</button>
        <div class="registerCon">
        <form action="registration.html">
            <input type="submit" value="Register"/>
        </form>
        </div>
        
        <div id="loginform" class="modal">
        
            <form class="modal-content animate" action="/action_page.php">
                <div class="imgcontainer">
                <span onclick="document.getElementById('loginform').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>
                <div class="container">
                    <label for="emailN"><b>Email</b></label>    
                    <input type="email" placeholder="Enter Username" name="emailN" required>
                    <br>
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                    <br>
                    <button type="submit">Login</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>
                
                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('loginform').style.display='none'" class="cancelbtn">Cancel</button>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                </div>
 
            </form>            
        </div>
    </div>
</div>

</body>