<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Your profile</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="/css/homepagestyle.css" rel="stylesheet" type="text/css">
	<link href="/css/userProfile.css" rel="stylesheet" type="text/css">
	<link href="/css/form-basic.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/../static/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}"/>
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	
</head>
<body>


<div class="header">
    <h1>Athens Tickets</h1>
</div>    
    
<div class="topnav sticky">

	<!-- Pages for all users and admins -->
    <a href="/home">Home</a>
    <a href="/movies">Movies</a>
    
    <!-- Pages for Admin -->
    <a sec:authorize="hasAuthority('ADMIN')" href="/manageMovies">Manage Movies</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="/manageShowtimes">Manage Showtimes</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="/manageHalls">Manage Halls</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="/manageUsers">Manage Users</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="/addPromotion">Promotions</a> 
    <a sec:authorize="hasAuthority('ADMIN')" href="/managePricing">Pricing</a>  
        
    <!-- Page for Registered User -->
    <a sec:authorize="hasAuthority('USER')" href="/userProfile" style="background-color: red">Profile</a>
    
    <div th:insert="fragments/general.html :: loginform"></div>
</div>

<div class="subnav">
	<a href="/userProfile" style="background-color: #333">Edit Profile</a>
	<a sec:authorize="hasAuthority('USER')" href="/recentPurchases">Recent Purchases</a>
</div>

<div th:if="${#httpServletRequest.remoteUser == null}">
	<div class="alert alert-success alert-dismissible mb-0" role="alert" th:if="${param.logout}">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		You have been logged out.
	</div>
</div>

<div class="alert alert-success alert-dismissible mb-0" id="alert" role="success" th:if="${updated} == 'true'">
	Information has been successfully updated. Refresh page for changes to take effect.
</div>
<div class="alert alert-danger alert-dismissible mb-0" id="alert" role="danger" th:if="${noMatch} == 'true'">
	The passwords you entered did not match.
</div>
<div class="alert alert-danger alert-dismissible mb-0" id="alert" role="danger" th:if="${noMatchEmail} == 'true'">
	The emails you entered did not match.
</div>
<div class="alert alert-danger alert-dismissible mb-0" id="alert" role="danger" th:if="${duplicate} == 'true'">
	An account already exists with this email.
</div>

<div class="editProfile">
<a class="mb-4 btn btn-primary" sec:authorize="hasAuthority('ADMIN')" role="button" th:href="@{/manageUsers}">Back to manage users</a>
<a class="mb-4 btn btn-danger" sec:authorize="hasAuthority('ADMIN')" role="button" th:href="@{${'/deleteUser/' + user.userId}}">Delete user</a>
<a class="mb-4 btn btn-warning" th:if="${user.enabled} == true" sec:authorize="hasAuthority('ADMIN')" role="button" th:href="@{${'/suspendUser/' + user.userId}}">Suspend user</a>
<a class="mb-4 btn btn-success" th:if="${user.enabled} == false" sec:authorize="hasAuthority('ADMIN')" role="button" th:href="@{${'/activateUser/' + user.userId}}">Activate user</a>

<div class="section">
<button class="accordion"><h2>Basic Information</h2></button>
<div class="panel">
	<form class="form-basic" th:action="@{/basicInfo}" method="post">
  		<div class="form-row">
			<label>
				<span>First Name (Mandatory)</span>
			</label>
			<input type="text" class="form-control" id="firstName" name="firstName" th:value="${user.firstName}" required>
  		</div>
  		<div class="form-row">
			<label>
				<span>Last Name (Mandatory)</span>
			</label>
			<input type="text" class="form-control" id="lastName" name="lastName" th:value="${user.lastName}" required>
  		</div>
  		<div class="form-row">
			<label>
				<span>Phone Number (Mandatory)</span>
			</label>
			<input type="text" class="form-control" id="phone" name="phone" th:value="${user.phone}" required>
  		</div>
  		<div class="form-row">
			<label>
				<span>Birth Date</span>
			</label>
			<input type="text" class="form-control" id="birthDate" placeholder="" th:value="${user.birthDate}" readonly>
  		</div>
 		<div class="form-row">
			<button type="submit">Save Information</button>
		</div>
	</form>
</div>
</div>
<div class="section">
<button class="accordion"><h2>Email</h2></button>
<div class="panel">

  <form class="form-basic" method="post" th:action="@{/emailChange}">
  		<div class="form-row">
  			<label>
  				<span>Current Email</span>
  			</label>
  			<input type="text" class="form-control" id="oldEmail" placeholder="" th:value="${user.email}" readonly>
  		</div>
  		<div class="form-row">
			<label>
				<span>New Email (Mandatory)</span>
			</label>
			<input type="email" class="form-control" id="newEmail" name="newEmail" value="" required>
  		</div>
  		<div class="form-row">
			<label>
				<span>Confirm Email (Mandatory)</span>
			</label>
			<input type="email" class="form-control" id="confEmail" name="confEmail" value="" required>
		</div>
 		<div class="form-row">
			<button type="submit">Save Information</button>
		</div>
	</form>
</div>
</div>
<div class="section">
<button class="accordion"><h2>Change Password</h2></button>
<div class="panel">
  <form class="form-basic" th:action="@{/passwordChange}" method="post">
  		<div class="form-row">
			<label>
				<span>New Password (Mandatory)</span>
			</label>
			<input type="password" class="form-control" id="newPassword" name="newPassword" value="" required>
  		</div>
 		 <div class="form-row">
			<label>
				<span>Confirm Password (Mandatory)</span>
			</label>
			<input type="password" class="form-control" id="confPassword" name="confPassword" value="" required>
  		</div>
 		 <div class="form-row">
			<button type="submit">Change password</button>
		</div>
	</form>
</div>
</div>


</div>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
    }
}

</script>

</body>


</html>



